.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
::placeholder{
    color:  rgb(0, 0, 0);
    font-size: 15px;
}
input{
    font-weight: bold;
    background-color: rgb(189, 188, 188);
    border-radius: 5px;
    margin: 5px;
    font-style: italic;
    height: 21px;
    
}
body{
    background-color: wheat;
}
button{
    font-weight: bold;
    background-color: rgb(189, 188, 188);
    border-radius: 5px;
    margin: 5px;
    height: 26px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.uhu{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    display: none;
    border: solid 2px;
    width: fit-content;
    margin: 0 auto;  
    background-color: burlywood;
    border-radius: 7px;
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainbox{
    width: 750px;
    height: 225px;
    margin: 0 auto;
    border: solid 3px;
    border-radius: 10px;
    background-color: rgb(89, 215, 131);
}
img{
    margin: 10px;
    height: 65px;
    width: 65px;
}
